body {
  font-family: monospace;
}

/*Navigation bar*/
nav {
  border-bottom: 2px solid #1F8A70;
  text-align: right;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  font-size: 20px;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 16px;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
  transition: color 0.5s ease;
}

nav a:hover {
  color: #82CD47
}

/*Home Page*/
.HomePage {
  position: fixed;
  left: 0;
  width: 100%;
  height: 93.9%;
  background-image: linear-gradient(to top, #C7E8CA, #ffffff);
}

.Home-Container {
  position: absolute;
  display: flex;
  width: 90%;
  padding-left: 5%;
}

.home-image {
  height: 500px;
  border-radius: 25px;
  border: 1px solid #17594A;
  box-shadow: 0px 5px 10px #609966;
}

.home-descr {
  font-size: 30px;
  text-align: left;
  padding-left: 5%;
  padding-top: 3%;
}

.home-btns {
  display: flex;
  gap: 50px;

}

/*Contact Page*/
.ContactPage {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #C7E8CA, #ffffff);
}

.contact-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #17594A;
  box-shadow: 0px 5px 10px #609966;
  border-radius: 25px;
  background-color: #F1F6F9;
  padding: 25px;
  gap: 50px;
}

.con-btn {
  margin-top: 40%;
}

/*About Page*/
.AboutPage {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #C7E8CA, #ffffff);
}

.about-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 1px solid #17594A;
  box-shadow: 0px 5px 10px #609966;
  background-color: #F1F6F9;
  padding: 25px;
  gap: 20px;
}

.about-details {
  font-size: 18px;
  width: max-content;
}

/*Create Account*/
.signup-page {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #C7E8CA, #ffffff);
}

.login-form {
  position: absolute;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #17594A;
  box-shadow: 0px 5px 10px #609966;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding: 30px;
  gap: 30px;
}

.create-acc-form {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #17594A;
  box-shadow: 0px 5px 10px #609966;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding: 30px;
  gap: 30px;
}

.textfield {
  width: 350px;
  height: 20px;
}

/*To-Do List page*/
.todolist-page {
  position: absolute;
  left: 0;
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to top, #C7E8CA, #ffffff);
}

.todo-sec1 {
  width: 100%;
  padding-top: 10px;
  height: 150px;
  text-align: center;
  background-image: linear-gradient(to bottom, #c9f0e7, #f6fbf5);
  border-bottom: 2px solid #17594A;
}

.task-navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 2%;
}

.tasks-container {
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card-wrapper {
  width: 350px;
  height: 300px;
  border: 1px solid #1ad7ab;
  box-shadow: 0px 5px 10px #609966;
  background-color: #F1F6F9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.task-title {
  width: fit-content;
  font-size: 22px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 15px;
  box-shadow: 0 1px 1px 2px #75ff78;
  background-color: #ffffff;
  border-radius: 20px;
}

.task-content {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #1ad7ab;
}

.task-addDate {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 10px;
}

.task-deadline {
  font-size: 18px;
  color: red;
  padding-top: 20px;
  padding-left: 10px;
}

.task-btns {
  padding-top: 7%;
  text-align: center;
}

/* Styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .HomePage {
    position: relative;
    left: 0;
    height: auto;
    background-image: linear-gradient(to top, #C7E8CA, #ffffff);
  }

  .Home-Container {
    /* Styles for smaller screens here */
    display: inline-block;
    overflow: auto;
    padding-bottom: 50px;
  }

  .home-image {
    height: 450px;

  }
}